footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.footer_block {
  display: flex;
  justify-content: space-evenly;
  /* 양옆 사이에 균일한 간격 */
  align-items: center;
}

.footer_icons {
  display: flex;
  flex-direction: column;
  /* 위아래로 배치해주는 태그 */
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.footer_icons__desc {
  margin-top: 5px;
  font-size: 10px;
  font-weight: bold;
  transform: scale(0.8);
}

.footer_icons__img {
  width: 30px;
}
