@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.media_info_msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* 최종 우리가 보이는 화면에 100%라는 뜻 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  opacity: 1;
  font-size: 40px;
  background-color: beige;
}

@media screen and (max-width: 500px) {
  .media_info_msg {
    display: none;
  }
}
